<h2 mat-dialog-title>Create a new instance</h2>

<mat-dialog-content [formGroup]="form" class="instance-dialog">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="example" formControlName="name" required>
  </mat-form-field>
  <mat-form-field *ngIf="staticUrl.checked">
    <mat-label>URL</mat-label>
    <input matInput placeholder="instance.example.com" formControlName="url" required>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
  <mat-checkbox #staticUrl style="margin-left: auto;">Static URL</mat-checkbox>
</mat-dialog-actions>