.instance-link {
  text-decoration: none;
}

.instance-div {
  margin: 30px;
  width: 250px;
}

.instance-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.instance-card:hover {
  background-color: #EEEEEE;
}

.hide-edit-button {
  visibility: hidden;
}

.show-edit-button {
  visibility: hidden;
}

.status-icon-ok {
  margin-top: auto;
  margin-left: auto;
  color: green;
  font-size: 1em;
  height: auto;
  width: auto;
}

.status-icon-nok {
  margin-top: auto;
  margin-left: auto;
  color: red;
  font-size: 1em;
  height: auto;
  width: auto;
}

.category-div {
  display: flex;
  flex: 0 0 25%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-style: solid;
  margin: 40px;
  margin-bottom: 0px;
  border-color: #3f51b5;
  border-radius: 16px;
}

.category-name {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 7.5px;
  background-color: #3f51b5;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #EEEEEE;
  font-size: 20px;
  height: fit-content;
}

.system-main {
  display: flex;
  justify-content: center;
}
