.instance-link {
    text-decoration: none;
}

.instance-div {
    margin: 30px;
    flex: 0 1 200px;
    max-width: 200px;
}

.instance-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instance-card:hover {
    background-color: #EEEEEE;
}

.hide-edit-button {
    visibility: hidden;
}

.show-edit-button {
    visibility: hidden;
}