.instance-link {
    text-decoration: none;
    color: black;
}

.instance-card {
    margin: 30px;
    flex: 0 1 25%;
}

.instance-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.button-div {
    display: flex;
    justify-content: center;
}
