<h2 mat-dialog-title>Modify an instance</h2>

<mat-dialog-content [formGroup]="form" class="instance-dialog">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput placeholder="{{oldName}}">
  </mat-form-field>
  <mat-form-field>
    <mat-label>URL</mat-label>
    <input formControlName="url" matInput placeholder="{{oldUrl}}">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Icon Path</mat-label>
    <input formControlName="iconPath" matInput placeholder="{{oldIconPath}}">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="save()" class="mat-raised-button mat-primary">Save</button>
  <button (click)="delete()" class="mat-raised-button mat-warn" style="margin-left: auto;">Delete</button>
</mat-dialog-actions>
